

<h3> You clicked the button!</h3>

<input placeholder="Enter your email Address to Learn more" class="form-control" ng-model="emailAddress" type='text'/>
<button class="btn btn-secondary" ng-click="sendEmailAddress(emailAddress)">Click to send email address</button><br/>
{{error}}

<span ng-bind-html="loading?'<h1>loading</h1>':null"></span>
<span ng-bind-html="stories.length>0? '<h1>Stories</h1>' : null"></span>

<div ng-repeat="story in stories">
<h2>{{story[2]}}</h2>  <a ng-href='{{story[3]}}'><h1>{{story[0]}}</h1></a>
</div>

<input type="text" class="form-control" ng-model="color" placeholder="Enter a color" />
<hello-world/>

<div id='news'></div>