<div id="sendInfo">
  <!-- <h1 id="contactMessage"> {{contactMessage}}</h1> -->
  <br/><br/><br/><br/>
  <div id="content">
  <div id="inputFields">
    <input id="emailAddress" placeholder="Your Email Address" class="form-control" ng-model="address" type='text' />
    <input id="emailName" placeholder="Your Name" class="form-control" ng-model="name" type='text' />
    <input id="emailCompany" placeholder="Your Company Name" class="form-control" ng-model="company" type='text' />
    <textarea id="comment" rows="5" placeholder="Comment (Optional)" class="form-control" ng-model="comment"></textarea>

    <button id="action" class="btn btn-secondary" ng-click="sendEmailAddress(address, name, company, comment)">Send</button>
    </div>

    <br/>
    <span ng-bind-html="error"></span>
    <br/>
    <span ng-bind-html="loading?'<h1>loading</h1>':null"></span>
    <span ng-bind-html="stories.length>0? '<h2>Tech Stories</h2>' : null"></span>

    <div ng-repeat="story in stories">
      <a ng-href='{{story[3]}}'><h3>{{story[2]}}</h3></a>
      <p>By:{{story[0]}}</p>
      <p>Published:{{story[4]}}</p>

    </div>

    <div id='news'></div>
  </div>
</div>


<script>
  document.getElementById("action").disabled = true;
</script>
