<script>
  var socket = io();

</script>
<div id="sendInfo">
  <h1> {{contactMessage}}</h1>

  <input id="emailAddress" placeholder="Enter your email Address to Learn more" class="form-control" ng-model="address" type='text' />
  <input id="emailName" placeholder="Enter your name here" class="form-control" ng-model="name" type='text' />
  <input id="emailCompany" placeholder="Enter your company name here" class="form-control" ng-model="company" type='text' />
  <button id="action" class="btn btn-secondary" ng-click="sendEmailAddress(address, name, company)">Send</button>
  <br/>
  <span ng-bind-html="error"></span>
  <br/>
  <span ng-bind-html="loading?'<h1>loading</h1>':null"></span>
  <span ng-bind-html="stories.length>0? '<h2>Tech Stories</h2>' : null"></span>

  <div ng-repeat="story in stories">
    <li><a ng-href='{{story[3]}}'><h3>{{story[2]}}</h3></a></li>
    <p>By:{{story[0]}}</p>

  </div>

  <div id='news'></div>
</div>
