<div id="Home">
  <p>Welcome Home</p>
  <br/>
  <h2>Some projects</h2>

  <div><a class="link" onclick="window.open('https://github.com/Anoninnyc/jamWithFriends')"><h3>Jam with Friends</h3></a>
    <br/><img class="project" src=".././public/assets/JWF-min.png"></div>
  <br/>
  <br/>
  <div><a class="link" onclick="window.open('https://github.com/Anoninnyc/ReelFriends')" ><h3>Reel Friends</h3></a>
    <br/> <img class="project" src=".././public/assets/TMA-min.png"></div>
  <br/>
  <br/>
  <div><a class="link" onclick="window.open('https://github.com/Anoninnyc/hotspots')"><h3>Hotspot</h3></a>
    <br/><img class="project" src=".././public/assets/HS-min.png"></div>
  <br/>
  <br/>
  <br/>
  <br/>
  <div><a class="link" onclick="window.open('https://github.com/Anoninnyc/UltimApp')"><h3>Ultimapp</h3></a>
    <br/><img class="project" src=".././public/assets/UA-min.png"></div>
  <div>
    <h3>This App</h3></div>
  <br/>
  <br/>
  <br/>
</div>
