<div id="Home">
  <p>Welcome Home</p>
<br/>
  <h1>Some projects</h1>
  
  	<div><a href="https://github.com/Anoninnyc/jamWithFriends"><h1>Jam with Friends</h1></a><img class="project" src=".././public/assets/JWF-min.png"></div>
  	<br/>
  	<br/>
  	<div><a href="https://github.com/Anoninnyc/ReelFriends"><h1>Reel Friends</h1></a> <img class="project" src=".././public/assets/TMA-min.png"></div>
  	<br/>
  	<br/>
  	<div><a href="https://github.com/Anoninnyc/hotspots"><h1>Hotspot</h1></a><img class="project" src=".././public/assets/HS-min.png"></div>
  	<br/>
  	<br/>
  	<div><h1>This</h1></div>
  	<br/>
  	<br/>
  	<div><a href="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQLWaH8tcPq9xBgGMtps-qIxs8VZu20Asp1FqVVva7LMcd_I6aq"><h1>Ultimapp (Quora-like app for a)</h1></a><img class="project" src=".././public/assets/UA-min.png"></div>
 
</div>
//