<div id="Home">
  <p>Welcome Home</p>
  <br/>
  <h1>Some projects</h1>

  <div><a onclick="window.open('https://github.com/Anoninnyc/jamWithFriends')"><h2>Jam with Friends</h2></a>
    <br/><img class="project" src=".././public/assets/JWF-min.png"></div>
  <br/>
  <br/>
  <div><a href="https://github.com/Anoninnyc/ReelFriends"><h2>Reel Friends</h2></a>
    <br/> <img class="project" src=".././public/assets/TMA-min.png"></div>
  <br/>
  <br/>
  <div><a href="https://github.com/Anoninnyc/hotspots"><h2>Hotspot</h2></a>
    <br/><img class="project" src=".././public/assets/HS-min.png"></div>
  <br/>
  <br/>
  <br/>
  <br/>
  <div><a href="https://github.com/Anoninnyc/UltimApp"><h2>Ultimapp</h2></a>
    <br/><img class="project" src=".././public/assets/UA-min.png"></div>
  <div>
    <h2>This App</h2></div>
  <br/>
  <br/>
  <br/>
</div>
