<h1>Tech Used </h1> 

Insert Images Here... 

<img class = "tech" src=".././public/assets/express.png"></img>
<img class = "tech" src=".././public/assets/angularjs.png"></img>
<img class = "tech" src=".././public/assets/grunt.png"></img>
<img  class = "tech" src=".././public/assets/jQuery.gif"></img>
<img class = "tech" src=".././public/assets/mongodb.png"></img>
<img class = "tech" src=".././public/assets/mongoose.png"></img>
<img class = "tech" src=".././public/assets/sockets.gif"></img>
<img  class = "tech" src=".././public/assets/webpack.png"></img>
<script>

setInterval(
function(){
	$(".tech").each(function(){
		$(this).animate({
			backgroundPositionX: "100px",
            backgroundPositionY: "200px"
		})
	})
}
,1000)
	

</script>