
<h1 id="countdown">{{count}}</h1>
<a href= "https://expressjs.com/"><img class = "tech" src=".././public/assets/express.png"></img></a>
<a href= "https://angularjs.org/"><img class = "tech" src=".././public/assets/angularjs.png"></img></a>
<a href= "https://github.com/gruntjs/grunt"><img class = "tech" src=".././public/assets/grunt.png"></img></a>
<a href= "https://jquery.com/"><img  class = "tech" src=".././public/assets/jQuery.gif"></img></a>
<a href= "https://www.mongodb.com/"><img class = "tech" src=".././public/assets/mongodb.png"></img></a>
<a href= "http://mongoosejs.com/"><img class = "tech" src=".././public/assets/mongoose.png"></img></a>
<a href= "http://socket.io/"><img class = "tech" src=".././public/assets/sockets.gif"></img></a>
<a href= "https://webpack.github.io/"><img  class = "tech" src=".././public/assets/webpack.png"></img></a>

<script>


window.moveIt=setInterval(
function(){
	$(".tech").each(function(){
	  let width = window.innerWidth* Math.random()/0.7;
	  let height = window.innerHeight* Math.random()/0.7;
	  $(this).animate({left:`${width}px`,top:`${height}px`});
 })
}
,1500, "swing")


</script>
