 /*nav*/

  ul.nav a:hover {
    background-color: white !important;
  }
  
/*  ul.nav a:focus {
    background-color: grey !important;
  }*/
 	.form-control {
    width: 50%;
 
   }


body { 
  background: url('./nightskyline.gif') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


div#sendInfo {
    position: relative;
    left: 30%;
    text-align: 0;
}

h2.ng-binding {
    color: darkblue;
}


div#sendInfo {
    display: inline-block;
}

h1 {
    display: inline;
}

div#res {
 text-align: center;
 opacity: 0.75;
}

input {
    width: 100%;
}

#ifHolder {
  background-image:url('https://cdn.playbuzz.com/cdn/6a5fa9ad-76ba-45df-b2c3-f7e2848f6b37/42451516-0315-4f40-aa1c-a47d7159dda3.gif') no-repeat center center; 
}

#emailName{
  display:none;
}

#emailCompany{
  display:none;
}

.btn {
  display: block;
}