.project,
.tech {
  overflow: hidden
}

ul.nav a:hover {
  background-color: #fff!important
}

.form-control {
  width: 50%
}

div#sendInfo {
  position: relative;
  left: 30%;
  text-align: 0;
  display: inline-block
}

div#Home,
div#res {
  text-align: center
}

h2.ng-binding {
  color: #00008b
}

h1 {
  display: inline
}

div#res {
  opacity: .75;
  position: absolute;
  left: 25%
}

input {
  width: 100%
}

#ifHolder {
  background-image: url(https://cdn.playbuzz.com/cdn/6a5fa9ad-76ba-45df-b2c3-f7e2848f6b37/42451516-0315-4f40-aa1c-a47d7159dda3.gif) no-repeat center center
}

#comment,
#emailCompany,
#emailName {
  display: none;
  height: 0;
  padding: 0
}

.btn {
  display: block
}

.form-control {
  display: inline
}

button#action {
  opacity: .6;
  position: relative;
  margin: auto
}

#countdown,
.tech {
  position: absolute
}

#countdown {
  left: 50%;
  top: 50%;
  font-size: 100px
}

body {
  background: url(nightskyline.gif) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

.tech {
  width: 200;
  opacity: .5;
  left: 764px;
  top: 541px;
  display: none;
  -webkit-transition-duration: .8s;
  -moz-transition-duration: .8s;
  -o-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform
}

.tech:hover {
  opacity: 1;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg)
}

textarea {
  resize: none
}

#sendInfo>#content {
  width: 170%;
  position: absolute;
  text-align: center
}

h1#contactMessage {
  left: 36%;
  position: relative
}

.project {
  width: 700;
  -webkit-transition-duration: .8s;
  -moz-transition-duration: .8s;
  -o-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform
}

#Home>p {
  font-size: 70px
}

.link:hover {
  cursor: pointer
}

.glyphicon-chevron-right:before {
    content: "\e080";
    position: fixed;
    top: 50%;
}

.glyphicon-chevron-left:before {
    content: "\e079";
    position: fixed;
    top: 50%;
}

.item {
    height: 500px;
}